*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    font-family: monospace;
    background-color: rgb(243, 254, 255);
    padding: 0 15px;
}
.card-container{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.card-form{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #000000b9;
    padding: 15px 15px;
}
h1{
    margin: 15px 0;
}
input[type=text]{
    width: 255px;
}
.card-result{
    padding: 78px 15px 0;
}
.card{
    width: 445px;
    background: rgb(255, 255, 255);
    height: 268px;
    box-shadow: 2px 6px 12px #000000b9;
    border: 1px solid #707070A8;
    border-radius: 6px;
    padding: 22px;
}
.card__organization{
    margin-top: 15px;
    text-align: center;
    letter-spacing: 0px;
    color: #222;
    margin-bottom: 25px;
}
.card__fio{
    font-size: 32px;
    text-align: center;
    letter-spacing: 0px;
    color: #222;
    margin-bottom: 10px;
}
.card__position{
    text-align: center;
    letter-spacing: 0px;
    color: #222;
}
.card__contacts{
    padding-top: 20px;
    padding-left: 60%;
}
.card__email, .card__phone, .card__address{
    text-align: left;
    letter-spacing: 0px;
    color: #222;
    margin-bottom: 5px;
}

.position_text{
    display: inline-block;
    margin-left: 25px;
}
.change_size{
    display: inline-block;
    margin-left: 25px;
}
.display{
    display: inline-block;
    margin-left: 25px;
}

.btn{
    background-color: transparent;
    padding: 8px;
    border: 2px solid #222;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #222;
    outline: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #222;
    color: #fff;
    transition: all 0.275s ease-in;
}

.radio{
    display: inline-block;
    position: relative;
}
.radio + .radio{
    margin-top: 10px;
    margin-left: 2px;
}
.radio input[type="radio"]{
    display: none;
}
.radio span{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: none;
    display: block;
}
.radio.black{
    border-radius: 50%;
    background-color: #222;
}
.radio.blue{
    border-radius: 50%;
    background-color: #77ffff;
}
.radio.pink{
    border-radius: 50%;
    background-color: #ff99ff;
}
.radio.yellow{
    border-radius: 50%;
    background-color: #ffff44;
}
.radio.green{
    border-radius: 50%;
    background-color: #88ff77;

}
.radio.orange{
    border-radius: 50%;
    background-color: #ff9122;
}

.radio span:after{
    content: "";
    height: 12px;
    width: 12px;
    background: #fff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}
.radio input[type="radio"]:checked ~ span::after{
    transform: translate(-50%, -50%) scale(1);
}
.radio.grey1{
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}
.radio.grey2{
    border-radius: 50%;
    background-color: #181818;
}
.radio.grey3{
    border-radius: 50%;
    background-color: #2a2a2a;
}
.radio.grey4{
    border-radius: 50%;
    background-color: #494949;
}
.radio.grey5{
    border-radius: 50%;
    background-color: #9a9a9a;

}
.radio.grey6{
    border-radius: 50%;
    background-color: #afafaf;
}
.view{
    margin-top: 5px;
    width: 15px;
    height: 15px;
}
.phone{
    margin-top: 10px;
    margin-bottom: 10px;
}
.phone_span{
    color: #494949;
}
#number{
    display: none;
}
#dop-phone:checked ~ #number{
    display: block;
}