*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(222, 222, 222);
}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(65, 65, 65);
    font-size: 20px;
}
li{
    list-style-type: none;
}
li:nth-child(odd){
    background-color: #06060619;
}
ul{
    margin-left: 0;
    padding-left: 0;
}
.todo-List{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #303030;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.todolisttitle{
    padding-top: 20px;
}
.todo-list__add-button{
    margin-left: 60%;
    background-color: #222;
    padding: 8px;
    border-radius: 10px;
    font-size: 11px;
    letter-spacing: 1.5px;
    color: #fff;
    cursor: pointer;
}
.tasks{
    top: 0px;
    padding-left: 10px;
    margin-left: 10%;
    width: 570px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 6px 12px #000000b9;
}
.task-form{
    margin-top: 50px;
    width: 555px;
    background: rgb(255, 255, 255);
    height: 212px;
    box-shadow: 2px 6px 12px #000000b9;
    border: 1px solid #707070A8;
    border-radius: 6px;
    padding: 22px;
}
.task-list__item{
    display: flex;
    padding: 10px;
    margin-left: -10px;
}
.todo-list__edit-button{
    margin-left: auto; 
    margin-right: 0;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}
.todo-list__delete-button{
    margin-left: auto; 
    margin-right: 0;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.task-form__save-button{
    margin-top: 20px;
    width: 126px;
    background-color: #222;
    padding: 8px;
    border: 2px solid #222;
    border-radius: 10px;
    font-size: 11px;
    letter-spacing: 1.5px;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.task-form__save-button:hover{
    background-color: transparent;
    color: #222;
    transition: all 0.275s ease-in;
}
.task-form__close-button{
    margin-top: 20px;
    width: 126px;
    background-color: transparent;
    padding: 8px;
    border: 2px solid #222;
    border-radius: 10px;
    font-size: 11px;
    letter-spacing: 1.5px;
    color: #222;
    outline: none;
    cursor: pointer;
}
.task-form__close-button:hover{
    background-color: #222;
    color: #fff;
    transition: all 0.275s ease-in;
}
input[type=text]{
    width: 510px;
}
.task-list__description--done{
    color: #bababa;
    text-decoration: line-through;
	text-decoration-color: #bababa;
}