*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.puzzle-game{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.right-pane{
    background-color: #D2E9EE;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.puzzle-source{
    position: relative;
}
.puzzle-source .puzzle-item{
    display: inline-block;
}
.puzzle-result{
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(9, 50px);
}
.puzzle-item{
    background-repeat: no-repeat;
}


.hint{  
    position: absolute;
    width: 450px;
    height: 300px;
    background-image: none;
}
.hint_h{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    position: absolute;
    margin-top: -500px;
}
.hint_h:hover + .hint{
    background-image: url(image.jpg);
    opacity: 0.6;
    z-index: 4;
}

.puzzle-result .puzzle-cell{
    background-color: white;
    z-index: 3;
}